In [2]:
import pandas as pd
import country_converter as coco

### The Country region dataset

In [22]:
country_region = pd.read_csv("all_country_regions.csv")
#country_region = country_region.rename(columns={"name":"Country", "alpha-3":"CountryCode"})
#country_region['intermediate-region-code'] = country_region['intermediate-region-code'].fillna(country_region['sub-region-code'])
country_region["Country"] = coco.convert(names = country_region["Country"], to="name_short")
country_region.to_csv("cleaned_data/all_country_regions.csv", index="False")

In [274]:
country_region.loc[country_region["CountryCode"] == "USA"]

,Country,CountryCode,country-code,iso_3166-2,region,sub-region,region-code,sub-region-code
235,United States,USA,840,ISO 3166-2:US,Americas,Northern America,19.0,21.0

## Suicide Rates dataset (2000 - 2019)
### File name: 'Suicide rates WHO.csv', 'Crude Suuicide Rates WHO.csv'
link: https://www.who.int/data/gho/data/themes/mental-health/suicide-rates

#### Age-standardized suicide rate (per 100,000 population)

In [24]:
df_suicide = pd.read_csv('Suicide rates WHO.csv')

df_suicide2 = df_suicide[["Period", "Location", "SpatialDimValueCode", "ParentLocation", "ParentLocationCode",
            "Dim1", "Dim1ValueCode", "FactValueNumeric", "FactValueNumericLow", "FactValueNumericHigh"]]

df_suicide2.columns = ["Year", "Country", "CountryCode", "ParentCountry", "ParentCountryCode",
            "Sex", "SexCode", "SuicideRate", "SuicideRateLower", "SuicideRateUpper"]

df_suicide2["Country"] = coco.convert(names = df_suicide2["Country"], to="name_short")
df_suicide2

<ipython-input-24-b096b0c44730>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_suicide2["Country"] = coco.convert(names = df_suicide2["Country"], to="name_short")

,Year,Country,CountryCode,ParentCountry,ParentCountryCode,Sex,SexCode,SuicideRate,SuicideRateLower,SuicideRateUpper
0,2019,Antigua and Barbuda,ATG,Americas,AMR,Male,MLE,0.00,0.00,0.00
1,2019,Barbados,BRB,Americas,AMR,Female,FMLE,0.16,0.11,0.22
2,2019,Barbados,BRB,Americas,AMR,Both sexes,BTSX,0.31,0.22,0.42
3,2019,Antigua and Barbuda,ATG,Americas,AMR,Both sexes,BTSX,0.32,0.22,0.45
4,2019,Barbados,BRB,Americas,AMR,Male,MLE,0.49,0.34,0.65
...,...,...,...,...,...,...,...,...,...,...
10975,2000,Guinea,GIN,Africa,AFR,Both sexes,BTSX,9.73,5.57,15.96
10976,2000,Ghana,GHA,Africa,AFR,Both sexes,BTSX,9.75,6.46,14.30
10977,2000,Malta,MLT,Europe,EUR,Male,MLE,9.75,7.56,12.29
10978,2000,Seychelles,SYC,Africa,AFR,Both sexes,BTSX,9.76,6.60,13.46
10979,2000,Montenegro,MNE,Europe,EUR,Female,FMLE,9.82,7.22,12.89

### Check NA values

In [25]:
df_suicide2.isnull().sum()

Year                 0
Country              0
CountryCode          0
ParentCountry        0
ParentCountryCode    0
Sex                  0
SexCode              0
SuicideRate          0
SuicideRateLower     0
SuicideRateUpper     0
dtype: int64

In [26]:
df_suicide2.dtypes

Year                   int64
Country               object
CountryCode           object
ParentCountry         object
ParentCountryCode     object
Sex                   object
SexCode               object
SuicideRate          float64
SuicideRateLower     float64
SuicideRateUpper     float64
dtype: object

### Strip string columns

In [27]:
df_suicide2 = df_suicide2.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

Join with "all_country_regions.csv" to get regions data

In [28]:
#df_suicide2 = df_suicide2.merge(country_region[["Country", "CountryCode", "sub-region"]], how="left", on="Country")
#df_suicide2

Countries with null in regional indicator

In [32]:
#len(df_suicide2.loc[df_suicide2["sub-region"].isnull()]["Country"].unique())

In [31]:
df_suicide2.to_csv("cleaned_data/suicide.csv", index=False)

## Suicide Rates dataset (2000 - 2019)
#### Age-standardized suicide rate (per 100,000 population)

In [33]:
df_csuicide = pd.read_csv('Crude Suuicide rates WHO.csv')
df_csuicide

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,EN,2021-07-06T07:00:00.000Z
1,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,EN,2021-07-06T07:00:00.000Z
2,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,EN,2021-07-06T07:00:00.000Z
3,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,EN,2021-07-06T07:00:00.000Z
4,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,EN,2021-07-06T07:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4387,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AFR,Africa,Country,BDI,Burundi,Year,2019,...,NaN,NaN,NaN,NaN,NaN,97.84,NaN,NaN,EN,2021-07-06T07:00:00.000Z
4388,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,EUR,Europe,Country,MKD,The former Yugoslav Republic of Macedonia,Year,2019,...,NaN,NaN,NaN,NaN,NaN,98.13,NaN,NaN,EN,2021-07-06T07:00:00.000Z
4389,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,EUR,Europe,Country,LTU,Lithuania,Year,2019,...,NaN,NaN,NaN,NaN,NaN,98.72,NaN,NaN,EN,2021-07-06T07:00:00.000Z
4390,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AFR,Africa,Country,ETH,Ethiopia,Year,2019,...,NaN,NaN,NaN,NaN,NaN,99.05,NaN,NaN,EN,2021-07-06T07:00:00.000Z
4391,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AFR,Africa,Country,TGO,Togo,Year,2019,...,NaN,NaN,NaN,NaN,NaN,99.69,NaN,NaN,EN,2021-07-06T07:00:00.000Z

In [34]:
df_csuicide = df_csuicide[["Period", "Location", "SpatialDimValueCode", "ParentLocation", "ParentLocationCode",
                          "Dim1", "Dim1ValueCode", "Dim2", "Dim2ValueCode", "FactValueNumeric"]]

df_csuicide.columns = ["Year", "Country", "CountryCode", "ParentCountry", "ParentCountryCode",
                       "Sex", "SexCode", "AgeGroup", "AgeGroupCode", "SuicideRate"]

df_csuicide.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

df_csuicide["Country"] = coco.convert(names = df_csuicide["Country"], to="name_short")
df_csuicide

<ipython-input-34-8345bdc70238>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csuicide["Country"] = coco.convert(names = df_csuicide["Country"], to="name_short")

,Year,Country,CountryCode,ParentCountry,ParentCountryCode,Sex,SexCode,AgeGroup,AgeGroupCode,SuicideRate
0,2019,Antigua and Barbuda,ATG,Americas,AMR,Both sexes,BTSX,15-24 years,YEARS15-24,0.00
1,2019,Antigua and Barbuda,ATG,Americas,AMR,Both sexes,BTSX,25-34 years,YEARS25-34,0.00
2,2019,Antigua and Barbuda,ATG,Americas,AMR,Both sexes,BTSX,35-44 years,YEARS35-44,0.00
3,2019,Antigua and Barbuda,ATG,Americas,AMR,Both sexes,BTSX,45-54 years,YEARS45-54,0.00
4,2019,Antigua and Barbuda,ATG,Americas,AMR,Both sexes,BTSX,65-74 years,YEARS65-74,0.00
...,...,...,...,...,...,...,...,...,...,...
4387,2019,Burundi,BDI,Africa,AFR,Male,MLE,75-84 years,YEARS75-84,97.84
4388,2019,Macedonia,MKD,Europe,EUR,Male,MLE,85+ years,YEARS85PLUS,98.13
4389,2019,Lithuania,LTU,Europe,EUR,Male,MLE,85+ years,YEARS85PLUS,98.72
4390,2019,Ethiopia,ETH,Africa,AFR,Male,MLE,75-84 years,YEARS75-84,99.05
4391,2019,Togo,TGO,Africa,AFR,Female,FMLE,85+ years,YEARS85PLUS,99.69

In [35]:
df_csuicide.isnull().sum()

Year                 0
Country              0
CountryCode          0
ParentCountry        0
ParentCountryCode    0
Sex                  0
SexCode              0
AgeGroup             0
AgeGroupCode         0
SuicideRate          0
dtype: int64

In [52]:
df_csuicide.to_csv("cleaned_data/crude_suicide.csv", index=False)

## Mortality data
### File name: 'MortalityDataWHR2021C2CSV.csv'
link: https://worldhappiness.report/ed/2021/#appendices-and-data

- Population data (2019-2020)
- All-cause of death (2017-2020)

In [36]:
df_morta = pd.read_csv("MortalityDataWHR2021C2CSV.csv")
df_morta["Country name"] = df_morta["Country name"].str.strip()
df_morta = df_morta.rename(columns={"Country name":"Country"})
df_morta["Country"] = coco.convert(names = df_morta["Country"], to="name_short")

### Population dataset

In [44]:
population = df_morta[['Country', 'Population 2020', 'Population 2019']]
population_t = pd.melt(population[:-1],
        id_vars="Country",
        value_vars = list(population.columns[1:]),
        var_name='Year',
        value_name='Population')

#population_t = population_t.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

population_t["Year"] = population_t["Year"].apply(lambda x: x.strip().replace("Population ", "")).astype("int64")

#population_t = population_t.merge(country_region[["Country", "CountryCode", "sub-region"]], how="left", on="Country")
population_t.isnull().sum()

Country       0
Year          0
Population    4
dtype: int64

In [45]:
population_t.to_csv("cleaned_data/population.csv", index=False)

### All cause of death dataset

In [46]:
all_cause_death = df_morta[["Country", "All-cause death count, 2017", "All-cause death count, 2018",
                         "All-cause death count, 2019", "All-cause death count, 2020"]]
all_cause_death_t = pd.melt(all_cause_death[:-1],
                        id_vars="Country",
                        value_vars = list(all_cause_death.columns[1:]),
                        var_name='Year',
                        value_name='count')

all_cause_death_t["Year"] = all_cause_death_t["Year"].apply(lambda x: x.strip().replace("All-cause death count, ", "")).astype("int64")
all_cause_death_t

Country      0
Year         0
count      404
dtype: int64

In [ ]:
all_cause_death_t.isnull().sum()

In [47]:
all_cause_death_t.to_csv("cleaned_data/all_cause_death.csv", index=False)

### Other features from the mortality dataset

In [48]:
morta_other_features = df_morta[["Country", "Median age", "Island", "Female head of government",
                        "Index of institutional trust", "Gini coefficient of income",
                        "Index of exposure to COVID-19  infections in other countries as of March 31",
                        "COVID-19 deaths per 100,000 population in 2020"]]
morta_other_features

,Country,Median age,Island,Female head of government,Index of institutional trust,Gini coefficient of income,Index of exposure to COVID-19 infections in other countries as of March 31,"COVID-19 deaths per 100,000 population in 2020"
0,United States,38.3,0,0,0.250,47.51,1.688,104.451
1,Egypt,25.3,0,0,0.446,31.56,1.627,7.457
2,Morocco,29.6,0,0,0.397,39.55,2.336,20.016
3,Lebanon,31.1,0,0,0.107,31.83,1.891,21.508
4,Saudi Arabia,31.9,0,0,0.651,45.90,1.250,17.875
...,...,...,...,...,...,...,...,...
161,Yemen,20.3,0,0,0.267,36.71,1.005,2.045
162,Kosovo,35.0,0,1,0.169,29.01,3.134,68.916
163,Somalia,NaN,0,0,NaN,NaN,NaN,NaN
164,Cyprus,NaN,0,0,0.305,NaN,NaN,NaN
165,South Sudan,19.2,0,0,0.179,46.34,1.076,0.563

In [50]:
morta_other_features.isnull().sum()

Country                                                                        0
Median age                                                                     3
Island                                                                         0
Female head of government                                                      0
Index of institutional trust                                                   1
Gini coefficient of income                                                     2
Index of exposure to COVID-19  infections in other countries as of March 31    2
COVID-19 deaths per 100,000 population in 2020                                 3
dtype: int64

In [51]:
morta_other_features.to_csv("cleaned_data/mortality_other.csv", index=False)