In [1]:
import pandas as pd
import country_converter as coco

### The Country region dataset

In [22]:
country_region = pd.read_csv("all_country_regions.csv")
#country_region = country_region.rename(columns={"name":"Country", "alpha-3":"CountryCode"})
#country_region['intermediate-region-code'] = country_region['intermediate-region-code'].fillna(country_region['sub-region-code'])
country_region["Country"] = coco.convert(names = country_region["Country"], to="name_short")
country_region.to_csv("cleaned_data/all_country_regions.csv", index="False")

In [274]:
country_region.loc[country_region["CountryCode"] == "USA"]

,Country,CountryCode,country-code,iso_3166-2,region,sub-region,region-code,sub-region-code
235,United States,USA,840,ISO 3166-2:US,Americas,Northern America,19.0,21.0

## Suicide Rates dataset (2000 - 2019)
### File name: 'Suicide rates WHO.csv', 'Crude Suuicide Rates WHO.csv'
link: https://www.who.int/data/gho/data/themes/mental-health/suicide-rates

#### Age-standardized suicide rate (per 100,000 population)

In [24]:
df_suicide = pd.read_csv('Suicide rates WHO.csv')

df_suicide2 = df_suicide[["Period", "Location", "SpatialDimValueCode", "ParentLocation", "ParentLocationCode",
            "Dim1", "Dim1ValueCode", "FactValueNumeric", "FactValueNumericLow", "FactValueNumericHigh"]]

df_suicide2.columns = ["Year", "Country", "CountryCode", "ParentCountry", "ParentCountryCode",
            "Sex", "SexCode", "SuicideRate", "SuicideRateLower", "SuicideRateUpper"]

df_suicide2["Country"] = coco.convert(names = df_suicide2["Country"], to="name_short")
df_suicide2

<ipython-input-24-b096b0c44730>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_suicide2["Country"] = coco.convert(names = df_suicide2["Country"], to="name_short")

,Year,Country,CountryCode,ParentCountry,ParentCountryCode,Sex,SexCode,SuicideRate,SuicideRateLower,SuicideRateUpper
0,2019,Antigua and Barbuda,ATG,Americas,AMR,Male,MLE,0.00,0.00,0.00
1,2019,Barbados,BRB,Americas,AMR,Female,FMLE,0.16,0.11,0.22
2,2019,Barbados,BRB,Americas,AMR,Both sexes,BTSX,0.31,0.22,0.42
3,2019,Antigua and Barbuda,ATG,Americas,AMR,Both sexes,BTSX,0.32,0.22,0.45
4,2019,Barbados,BRB,Americas,AMR,Male,MLE,0.49,0.34,0.65
...,...,...,...,...,...,...,...,...,...,...
10975,2000,Guinea,GIN,Africa,AFR,Both sexes,BTSX,9.73,5.57,15.96
10976,2000,Ghana,GHA,Africa,AFR,Both sexes,BTSX,9.75,6.46,14.30
10977,2000,Malta,MLT,Europe,EUR,Male,MLE,9.75,7.56,12.29
10978,2000,Seychelles,SYC,Africa,AFR,Both sexes,BTSX,9.76,6.60,13.46
10979,2000,Montenegro,MNE,Europe,EUR,Female,FMLE,9.82,7.22,12.89

### Check NA values

In [25]:
df_suicide2.isnull().sum()

Year                 0
Country              0
CountryCode          0
ParentCountry        0
ParentCountryCode    0
Sex                  0
SexCode              0
SuicideRate          0
SuicideRateLower     0
SuicideRateUpper     0
dtype: int64

In [26]:
df_suicide2.dtypes

Year                   int64
Country               object
CountryCode           object
ParentCountry         object
ParentCountryCode     object
Sex                   object
SexCode               object
SuicideRate          float64
SuicideRateLower     float64
SuicideRateUpper     float64
dtype: object

### Strip string columns

In [27]:
df_suicide2 = df_suicide2.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

Join with "all_country_regions.csv" to get regions data

In [28]:
#df_suicide2 = df_suicide2.merge(country_region[["Country", "CountryCode", "sub-region"]], how="left", on="Country")
#df_suicide2

Countries with null in regional indicator

In [32]:
#len(df_suicide2.loc[df_suicide2["sub-region"].isnull()]["Country"].unique())

In [31]:
df_suicide2.to_csv("cleaned_data/suicide.csv", index=False)

## Suicide Rates dataset (2000 - 2019)
#### Age-standardized suicide rate (per 100,000 population)

In [33]:
df_csuicide = pd.read_csv('Crude Suuicide rates WHO.csv')
df_csuicide

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,EN,2021-07-06T07:00:00.000Z
1,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,EN,2021-07-06T07:00:00.000Z
2,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,EN,2021-07-06T07:00:00.000Z
3,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,EN,2021-07-06T07:00:00.000Z
4,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,EN,2021-07-06T07:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4387,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AFR,Africa,Country,BDI,Burundi,Year,2019,...,NaN,NaN,NaN,NaN,NaN,97.84,NaN,NaN,EN,2021-07-06T07:00:00.000Z
4388,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,EUR,Europe,Country,MKD,The former Yugoslav Republic of Macedonia,Year,2019,...,NaN,NaN,NaN,NaN,NaN,98.13,NaN,NaN,EN,2021-07-06T07:00:00.000Z
4389,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,EUR,Europe,Country,LTU,Lithuania,Year,2019,...,NaN,NaN,NaN,NaN,NaN,98.72,NaN,NaN,EN,2021-07-06T07:00:00.000Z
4390,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AFR,Africa,Country,ETH,Ethiopia,Year,2019,...,NaN,NaN,NaN,NaN,NaN,99.05,NaN,NaN,EN,2021-07-06T07:00:00.000Z
4391,SDGSUICIDE,Crude suicide rates (per 100 000 population),text,AFR,Africa,Country,TGO,Togo,Year,2019,...,NaN,NaN,NaN,NaN,NaN,99.69,NaN,NaN,EN,2021-07-06T07:00:00.000Z

In [34]:
df_csuicide = df_csuicide[["Period", "Location", "SpatialDimValueCode", "ParentLocation", "ParentLocationCode",
                          "Dim1", "Dim1ValueCode", "Dim2", "Dim2ValueCode", "FactValueNumeric"]]

df_csuicide.columns = ["Year", "Country", "CountryCode", "ParentCountry", "ParentCountryCode",
                       "Sex", "SexCode", "AgeGroup", "AgeGroupCode", "SuicideRate"]

df_csuicide.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

df_csuicide["Country"] = coco.convert(names = df_csuicide["Country"], to="name_short")
df_csuicide

<ipython-input-34-8345bdc70238>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_csuicide["Country"] = coco.convert(names = df_csuicide["Country"], to="name_short")

,Year,Country,CountryCode,ParentCountry,ParentCountryCode,Sex,SexCode,AgeGroup,AgeGroupCode,SuicideRate
0,2019,Antigua and Barbuda,ATG,Americas,AMR,Both sexes,BTSX,15-24 years,YEARS15-24,0.00
1,2019,Antigua and Barbuda,ATG,Americas,AMR,Both sexes,BTSX,25-34 years,YEARS25-34,0.00
2,2019,Antigua and Barbuda,ATG,Americas,AMR,Both sexes,BTSX,35-44 years,YEARS35-44,0.00
3,2019,Antigua and Barbuda,ATG,Americas,AMR,Both sexes,BTSX,45-54 years,YEARS45-54,0.00
4,2019,Antigua and Barbuda,ATG,Americas,AMR,Both sexes,BTSX,65-74 years,YEARS65-74,0.00
...,...,...,...,...,...,...,...,...,...,...
4387,2019,Burundi,BDI,Africa,AFR,Male,MLE,75-84 years,YEARS75-84,97.84
4388,2019,Macedonia,MKD,Europe,EUR,Male,MLE,85+ years,YEARS85PLUS,98.13
4389,2019,Lithuania,LTU,Europe,EUR,Male,MLE,85+ years,YEARS85PLUS,98.72
4390,2019,Ethiopia,ETH,Africa,AFR,Male,MLE,75-84 years,YEARS75-84,99.05
4391,2019,Togo,TGO,Africa,AFR,Female,FMLE,85+ years,YEARS85PLUS,99.69

In [35]:
df_csuicide.isnull().sum()

Year                 0
Country              0
CountryCode          0
ParentCountry        0
ParentCountryCode    0
Sex                  0
SexCode              0
AgeGroup             0
AgeGroupCode         0
SuicideRate          0
dtype: int64

In [52]:
df_csuicide.to_csv("cleaned_data/crude_suicide.csv", index=False)

## Mortality data
### File name: 'MortalityDataWHR2021C2CSV.csv'
link: https://worldhappiness.report/ed/2021/#appendices-and-data

- Population data (2019-2020)
- All-cause of death (2017-2020)

In [36]:
df_morta = pd.read_csv("MortalityDataWHR2021C2CSV.csv")
df_morta["Country name"] = df_morta["Country name"].str.strip()
df_morta = df_morta.rename(columns={"Country name":"Country"})
df_morta["Country"] = coco.convert(names = df_morta["Country"], to="name_short")

### Population dataset

In [44]:
population = df_morta[['Country', 'Population 2020', 'Population 2019']]
population_t = pd.melt(population[:-1],
        id_vars="Country",
        value_vars = list(population.columns[1:]),
        var_name='Year',
        value_name='Population')

#population_t = population_t.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

population_t["Year"] = population_t["Year"].apply(lambda x: x.strip().replace("Population ", "")).astype("int64")

#population_t = population_t.merge(country_region[["Country", "CountryCode", "sub-region"]], how="left", on="Country")
population_t.isnull().sum()

Country       0
Year          0
Population    4
dtype: int64

In [45]:
population_t.to_csv("cleaned_data/population.csv", index=False)

### All cause of death dataset

In [46]:
all_cause_death = df_morta[["Country", "All-cause death count, 2017", "All-cause death count, 2018",
                         "All-cause death count, 2019", "All-cause death count, 2020"]]
all_cause_death_t = pd.melt(all_cause_death[:-1],
                        id_vars="Country",
                        value_vars = list(all_cause_death.columns[1:]),
                        var_name='Year',
                        value_name='count')

all_cause_death_t["Year"] = all_cause_death_t["Year"].apply(lambda x: x.strip().replace("All-cause death count, ", "")).astype("int64")
all_cause_death_t

Country      0
Year         0
count      404
dtype: int64

In [ ]:
all_cause_death_t.isnull().sum()

In [47]:
all_cause_death_t.to_csv("cleaned_data/all_cause_death.csv", index=False)

### Other features from the mortality dataset

In [48]:
morta_other_features = df_morta[["Country", "Median age", "Island", "Female head of government",
                        "Index of institutional trust", "Gini coefficient of income",
                        "Index of exposure to COVID-19  infections in other countries as of March 31",
                        "COVID-19 deaths per 100,000 population in 2020"]]
morta_other_features

,Country,Median age,Island,Female head of government,Index of institutional trust,Gini coefficient of income,Index of exposure to COVID-19 infections in other countries as of March 31,"COVID-19 deaths per 100,000 population in 2020"
0,United States,38.3,0,0,0.250,47.51,1.688,104.451
1,Egypt,25.3,0,0,0.446,31.56,1.627,7.457
2,Morocco,29.6,0,0,0.397,39.55,2.336,20.016
3,Lebanon,31.1,0,0,0.107,31.83,1.891,21.508
4,Saudi Arabia,31.9,0,0,0.651,45.90,1.250,17.875
...,...,...,...,...,...,...,...,...
161,Yemen,20.3,0,0,0.267,36.71,1.005,2.045
162,Kosovo,35.0,0,1,0.169,29.01,3.134,68.916
163,Somalia,NaN,0,0,NaN,NaN,NaN,NaN
164,Cyprus,NaN,0,0,0.305,NaN,NaN,NaN
165,South Sudan,19.2,0,0,0.179,46.34,1.076,0.563

In [50]:
morta_other_features.isnull().sum()

Country                                                                        0
Median age                                                                     3
Island                                                                         0
Female head of government                                                      0
Index of institutional trust                                                   1
Gini coefficient of income                                                     2
Index of exposure to COVID-19  infections in other countries as of March 31    2
COVID-19 deaths per 100,000 population in 2020                                 3
dtype: int64

In [51]:
morta_other_features.to_csv("cleaned_data/mortality_other.csv", index=False)

## Better Life Index Pivot (long to wide)

In [2]:
bli = pd.read_csv("cleaned_data/betterlifeindex_final.csv")

In [4]:
bli = bli[["CountryName", "Indicator", "Inequality", "Value"]].copy()

In [5]:
bli

         CountryName                          Indicator Inequality  Value
0          Australia           Labour market insecurity      Total   5.40
1            Austria           Labour market insecurity      Total   3.50
2            Belgium           Labour market insecurity      Total   3.70
3             Canada           Labour market insecurity      Total   6.00
4     Czech Republic           Labour market insecurity      Total   3.10
...              ...                                ...        ...    ...
2300       Lithuania  Employees working very long hours      Total   0.54
2301        Colombia  Employees working very long hours        Men  32.09
2302       Lithuania  Employees working very long hours        Men   0.67
2303        Colombia  Employees working very long hours      Women  19.37
2304       Lithuania  Employees working very long hours      Women   0.43

[2305 rows x 4 columns]

In [8]:
bli_pivoted = bli.pivot_table(index=["CountryName", "Inequality"],
                columns= "Indicator",
                values= "Value").reset_index()

In [9]:
bli_pivoted.to_csv("cleaned_data/betterlifeindex_final_pivoted.csv")

## Joining the Happiness with better life

In [66]:
df_h = pd.read_csv("cleaned_data/happiness_combined_final.csv")
df_bl = pd.read_csv("cleaned_data/better_life_pivoted_combined.csv")

In [67]:
df_h = df_h[df_h["year"] == 2019].drop(columns=["F1","region", "sub-region", "year"])

In [68]:
df_h

,Country name,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,SuicideRate,Population,death_rate_perc
0,Jordan,4.453,9.201,0.793,67.0,0.726,-0.165,NaN,NaN,NaN,1.98,10101694.0,NaN
1,Niger,5.004,7.106,0.677,54.0,0.831,0.026,0.729,0.816,0.304,10.15,23310715.0,NaN
2,New Zealand,7.205,10.666,0.939,73.4,0.912,0.157,0.234,0.816,0.191,10.30,4917000.0,0.693268
3,Canada,7.109,10.800,0.925,73.8,0.912,0.112,0.436,0.822,0.285,10.34,37589262.0,NaN
4,Austria,7.195,10.939,0.964,73.3,0.903,0.060,0.457,0.774,0.205,10.40,8877067.0,0.918738
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Norway,7.442,11.061,0.942,73.3,0.954,0.111,0.271,0.823,0.195,9.91,5347896.0,0.757307
1863,Kosovo,6.425,9.339,0.843,NaN,0.841,0.247,0.920,0.749,0.141,NaN,1794248.0,0.532368
1915,Palestine,4.483,NaN,0.833,NaN,0.653,NaN,0.829,0.625,0.400,NaN,4685306.0,NaN
1930,Taiwan,6.537,NaN,0.893,NaN,0.814,NaN,0.718,0.860,0.093,NaN,23780000.0,0.741362
1952,Hong Kong,5.659,11.000,0.856,NaN,0.727,0.067,0.432,0.599,0.358,NaN,7451000.0,0.653684

In [69]:
df_bl = df_bl[df_bl["Inequality"] == "Total"].drop(columns=["F1", "Inequality"])

In [70]:
df_bl

,CountryName,region,sub-region,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,...,Personal earnings,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education
1,Australia,Oceania,Australia and New Zealand,5.0,NaN,81.0,13.04,73.0,63.5,1.1,...,49126.0,95.0,NaN,85.0,2.7,502.0,14.35,91.0,93.0,21.0
6,Austria,Europe,Western Europe,16.0,0.9,85.0,6.66,72.0,80.6,0.5,...,50349.0,92.0,1.6,70.0,1.3,492.0,14.55,80.0,92.0,17.0
11,Belgium,Europe,Western Europe,15.0,1.9,77.0,4.75,63.0,70.1,1.0,...,49675.0,91.0,2.2,74.0,2.0,503.0,15.70,89.0,84.0,19.3
16,Brazil,Americas,South America,10.0,6.7,49.0,7.13,61.0,35.6,26.7,...,NaN,90.0,NaN,NaN,2.2,395.0,NaN,79.0,73.0,16.2
21,Canada,Americas,Northern America,7.0,0.2,91.0,3.69,73.0,82.2,1.3,...,47622.0,93.0,2.6,88.0,2.9,523.0,14.56,68.0,91.0,17.3
26,Chile,Americas,South America,16.0,9.4,65.0,9.72,63.0,47.9,4.2,...,25879.0,85.0,1.2,57.0,1.3,443.0,NaN,47.0,71.0,17.5
31,Colombia,Americas,South America,10.0,23.9,54.0,26.56,67.0,44.4,24.5,...,NaN,89.0,1.2,NaN,1.4,410.0,NaN,53.0,75.0,14.1
36,Czech Republic,Europe,Eastern Europe,20.0,0.7,94.0,5.65,74.0,72.3,0.5,...,25372.0,91.0,1.4,60.0,1.6,491.0,NaN,61.0,87.0,17.9
41,Denmark,Europe,Northern Europe,9.0,0.5,81.0,2.34,74.0,83.5,0.6,...,51466.0,95.0,1.9,71.0,2.0,504.0,15.87,86.0,95.0,19.5
46,Estonia,Europe,Northern Europe,8.0,7.0,89.0,2.42,74.0,69.0,3.1,...,24336.0,92.0,1.6,53.0,2.7,524.0,14.90,64.0,84.0,17.7
51,Finland,Europe,Northern Europe,6.0,0.5,88.0,3.81,70.0,85.1,1.3,...,42964.0,95.0,1.9,70.0,2.2,523.0,15.17,67.0,95.0,19.8
56,France,Europe,Western Europe,13.0,0.5,78.0,7.67,65.0,70.5,0.5,...,43755.0,90.0,1.8,66.0,2.1,496.0,16.36,75.0,81.0,16.5
61,Germany,Europe,Western Europe,14.0,0.2,87.0,4.26,75.0,72.5,0.5,...,47585.0,90.0,1.8,65.0,1.8,508.0,15.62,76.0,91.0,18.1
66,Greece,Europe,Southern Europe,18.0,0.5,73.0,6.42,53.0,60.0,0.8,...,26064.0,80.0,1.2,74.0,1.8,458.0,NaN,64.0,69.0,19.0
71,Hungary,Europe,Eastern Europe,19.0,4.7,84.0,3.03,68.0,56.3,1.0,...,22576.0,86.0,1.2,60.0,1.2,474.0,NaN,70.0,77.0,16.4
76,Iceland,Europe,Northern Europe,3.0,0.0,77.0,15.06,86.0,86.0,0.5,...,61787.0,98.0,1.6,76.0,2.1,481.0,NaN,79.0,99.0,19.0
81,Ireland,Europe,Northern Europe,7.0,1.0,82.0,5.25,67.0,75.9,0.7,...,47653.0,95.0,2.1,83.0,1.3,509.0,NaN,65.0,85.0,18.1
86,Israel,Asia,Western Asia,21.0,NaN,87.0,15.45,69.0,69.8,1.8,...,35067.0,88.0,1.2,84.0,2.5,472.0,NaN,72.0,67.0,15.6
91,Italy,Europe,Southern Europe,18.0,0.7,61.0,4.11,58.0,58.4,0.6,...,36658.0,92.0,1.4,71.0,2.5,485.0,16.47,73.0,71.0,16.6
96,Japan,Asia,Eastern Asia,14.0,6.4,NaN,NaN,75.0,72.5,0.2,...,40863.0,89.0,1.9,36.0,1.4,529.0,NaN,53.0,87.0,16.4
101,South Korea,Asia,Eastern Asia,28.0,2.5,88.0,NaN,67.0,66.6,1.0,...,35191.0,78.0,1.5,33.0,2.9,519.0,14.70,77.0,76.0,17.3
106,Latvia,Europe,Northern Europe,11.0,13.9,88.0,1.27,70.0,62.4,4.8,...,23683.0,86.0,1.2,47.0,2.2,487.0,13.83,59.0,79.0,18.0
111,Lithuania,Europe,Northern Europe,14.0,13.6,93.0,0.54,70.0,55.9,3.4,...,24287.0,88.0,1.5,43.0,2.4,475.0,NaN,51.0,81.0,18.4
116,Luxembourg,Europe,Western Europe,12.0,0.5,77.0,3.82,66.0,75.8,0.6,...,63062.0,93.0,1.9,69.0,1.7,483.0,NaN,91.0,84.0,15.1
121,Mexico,Americas,Central America,16.0,25.5,38.0,28.70,61.0,41.8,18.1,...,15314.0,81.0,1.0,66.0,3.2,416.0,NaN,63.0,68.0,15.2
126,Netherlands,Europe,Western Europe,14.0,0.1,78.0,0.42,76.0,82.0,0.6,...,52877.0,91.0,1.9,76.0,2.6,508.0,NaN,82.0,93.0,18.7
131,New Zealand,Oceania,Australia and New Zealand,5.0,NaN,79.0,15.11,77.0,65.7,1.3,...,40043.0,96.0,2.4,88.0,2.5,506.0,14.87,80.0,89.0,17.7
136,Norway,Europe,Northern Europe,5.0,0.0,82.0,2.93,74.0,90.1,0.4,...,51212.0,94.0,2.1,77.0,2.2,504.0,15.56,78.0,98.0,18.3
141,Poland,Europe,Eastern Europe,22.0,3.0,92.0,5.95,66.0,67.3,0.7,...,27046.0,86.0,1.1,58.0,2.6,504.0,14.42,55.0,82.0,17.6
146,Portugal,Europe,Southern Europe,10.0,1.0,48.0,8.27,68.0,73.4,1.0,...,25367.0,88.0,1.7,48.0,1.5,497.0,NaN,56.0,86.0,16.9
151,Russia,Europe,Eastern Europe,15.0,14.8,94.0,0.14,70.0,52.8,9.6,...,NaN,89.0,0.9,43.0,NaN,492.0,NaN,68.0,55.0,16.2
156,Slovakia,Europe,Eastern Europe,21.0,1.2,91.0,4.14,66.0,63.5,0.8,...,24328.0,91.0,1.1,66.0,3.0,463.0,NaN,60.0,85.0,15.8
161,Slovenia,Europe,Southern Europe,16.0,0.4,88.0,4.39,69.0,86.1,0.6,...,34933.0,92.0,1.5,64.0,2.5,509.0,14.75,53.0,90.0,18.3
166,South Africa,Africa,Southern Africa,22.0,37.0,73.0,18.12,43.0,36.1,13.7,...,NaN,88.0,NaN,NaN,NaN,NaN,14.92,73.0,67.0,NaN
169,Spain,Europe,Southern Europe,11.0,0.1,59.0,4.01,62.0,82.1,0.6,...,38507.0,93.0,1.9,72.0,1.8,491.0,15.93,70.0,72.0,17.9
174,Sweden,Europe,Northern Europe,6.0,0.0,83.0,1.07,77.0,75.6,0.9,...,42393.0,91.0,1.7,75.0,2.0,496.0,15.18,86.0,96.0,19.3
179,Switzerland,Europe,Western Europe,15.0,0.1,88.0,0.37,80.0,85.3,0.6,...,62283.0,93.0,1.9,78.0,2.3,506.0,NaN,49.0,95.0,17.5
184,Turkey,Asia,Western Asia,20.0,8.0,39.0,32.64,52.0,59.8,1.4,...,NaN,86.0,1.0,69.0,1.5,425.0,14.79,86.0,65.0,18.3
189,United Kingdom,Europe,Northern Europe,11.0,0.3,81.0,12.15,75.0,77.7,0.2,...,43732.0,94.0,1.9,69.0,3.1,500.0,14.92,69.0,84.0,17.5
194,United States,Americas,Northern America,10.0,0.1,91.0,11.09,70.0,73.9,5.5,...,60558.0,91.0,2.4,88.0,3.1,488.0,14.44,65.0,83.0,17.2

In [77]:
df_bl = df_h.merge(df_bl, how = "right", left_on="Country name", right_on= "CountryName")

In [81]:
df_bl.to_csv("cleaned_data/better_life_happiness_merged_final.csv")